.v-rectangle {
    background: white;
    height: 560px;
    width: 220px;
    position: absolute;
    right: 0;
}

.img-header-text {
    height: 289px;
    width: 760px;
    margin-top: 140px;
    margin-bottom: 130px;
}

.img-absolute {
    position: absolute;
    height: 229px;
    width: 245px;
}

.img-absolute.ml {
    margin-top: 329px;
    margin-left: -209px;
}

.img-relative {
    height: 135.55px;
    width: 155px;
    margin-top: 160px;
    margin-left: 30px;
    position: relative;
}

.img-bordered {
    /* border-radius: 40px; */
    height: 288px;
    width: 380px;
    z-index: 0;
    display: inline-block;
}

.link-box {
    background-color: #009072;
    color: white;
    padding: 14px 25px;
    padding-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 340px;
    height: 25px;
    position: relative;
}

.link-box::after {
    content: '';
    background: url("../asset/img/arrow-down.svg");
    position: absolute;
    width: 15px;
    height: 12px;
    top: 20px;
    right: 20px;
}

.link-box.em-wide {
    letter-spacing: 0.4em;
}

.link-box.em-wide.bold {
    font-weight: bold;
}

.title-p-e {
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: 900;
    color: #009072;
    margin: 0;
}

.title-h1-n {
    font-size: 45px;
    font-weight: 900;
    color: #009072;
    margin: 0;
}

.title-s1-n {
    font-size: 45px;
    font-weight: 900;
    color: #009072;
    letter-spacing: 3px;
    margin: 0;

}

.small-header {
    font-size: 36px;
    font-weight: 900;
    color: #5E5E5E;
    margin: 0;
}

.cont-p1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: 900;
    color: #626262;
    margin: 0;
    line-height: 36px;
}

.cont-p2-align-r {
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    font-weight: 900;
    letter-spacing: 3px;
    color: #626262;
    margin: 0;
    text-align: right;
    line-height: 36px;
    padding-right: 25px;
}

.cont-p1-subcommittee {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: #626262;
    margin-top: 20px;
    line-height: 36px;
}

.subcommittee {
    color: #009072;
    line-height: 45px;
}

.committee-header {
    margin-top: 140px;
}

.about-section-1 {
    padding-top: 45px;
    padding-left: 45px;
    position: relative;
}

.sub-committee-section-1 {
    position: relative;
}

.elem-box-big-1 {
    width: 672px;
    height: 230px;
    background-color: #F3F8E5;
    top: 100px;
    left: 0;
    z-index: -1;
    position: absolute;
}

.elem-box-big-2 {
    width: 100%;
    /* width: 1010px; */
    height: 130px;
    background-color: #F3F8E5;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 56px;
}

.elem-box-v-big-3 {
    background: #009072;
    position: absolute;
    z-index: 1;
    /* width: 375px;
    height: 188px; */
    padding: 62px 60px 30px 43px;
    bottom: -146px;
    right: -32px;
}

.elem-box-big-4 {
    width: 393px;
    height: 179px;
    background-color: #009072;
    z-index: 2;
    position: absolute;
    padding: 4px 4px 4px 4px;
    bottom: -146px;
    right: -32px;

}

.elem-box-big-5 {
    width: 203px;
    height: 236px;
    background-color: #71ba2a;
    z-index: 2;
    position: absolute;
    bottom: -136px;
    right: 25px;

}

.elem-box-small-1 {
    height: 72px;
    width: 42px;
    background-color: #71ba2a;
    position: absolute;
    right: 55px;
    top: -40px;
    z-index: 1;
}

.elem-box-small-2 {
    height: 35px;
    width: 140px;
    bottom: -30px;
    background-color: #009072;
    position: absolute;
    z-index: 1;
}

.title-ct-n {
    font-size: 35px;
    padding: 10px;
    font-weight: 900;
    color: #009072;
    margin: 0;

}

.content-cb {
    text-align: left;
    line-height: 10px;
    font-weight: bolder;
}

.content-cb.p {
    padding-left: 15px;
    position: relative;
}

.content-cb.custom {
    font-size: 12px;
    color: #009072;
}

.content-out1,
.content-out2,
.content-out3 {
    font-size: 15px;
    color: #009072;
    left: 0;
    font-weight: bolder;
}

.content-out3 {
    margin-top: 102px;
}

.content-out2 {
    margin-top: 51px;
}

.content-out1 {
    margin-top: 77px;
}

.content-btn,
.content-btn-p {
    font-weight: 900;
    font-size: 12px;
    border: 2px solid #009072;
    border-radius: 18px;
    color: #000000;
    width: 260px;
    padding: 20px 14px 21px 12px;
    display: inline-block;
    text-align: center;
}

.img-ellipse {
    left: 0;
    position: absolute;
}

.img-location {
    left: 0;
    position: absolute;
    top: 4px;
}

.img-train {
    left: 0;
    position: absolute;
    top: 4px;
}

.content-btn-p {
    padding: 16px 18px 30px;
    padding-top: 19px;
    padding-bottom: 23px;
}

.manabe {
    position: relative;
}

.manabe-section {
    position: relative;
}

.manabe-section-outer {
    position: absolute;
    width: 1000px;
    height: 565px;
    background: #86BA00;
    z-index: -1;
}

.manabe-section-outer::after {
    position: absolute;
    content: 'DAIKENKYUKAI';
    color: #86BA00;
    font-weight: 900;
    letter-spacing: 6px;
    font-size: 16px;
    top: -18px;
    left: 42px;
}

.manabe-section-outer h3 {
    color: #FFFFFF;
    display: block;
    font-size: 42px;
    font-weight: 900;
    padding-left: 42px;
    letter-spacing: 10px;
    padding-top: 30px;
    margin: 0;
    text-align: left;
}

.manabe-img {
    z-index: 1;
    width: 420px;
    height: 465px;
    margin: 0 40px;
    margin-top: -30px;
}

.manabe-card {
    padding-left: 60px;
}

.manabe-card-relative {
    position: relative;
}

.manabe-sect-1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 2px;
    padding-top: 110px;
    text-align: left;
}

.manabe-sect-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 6px;
    text-align: left;
}

.manabe-sect-2 {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 41px;
    text-align: left;
}

.manabe-sect-3 {
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 900;
    line-height: 34px;
    padding-right: 30px;
    text-align: left;
}

.manabe-sect-relative-1 {
    display: block;
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 55px 0px 0px 31px;
    text-align: left;
}

.manabe-sect-relative-title {
    display: block;
    font-size: 42px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0px 0px 0px 31px;
    text-align: left;
}

.building-section {
    background-color: #009072;
    height: 435px;
    position: relative;
}

.building-section container {
    background-color: #009072;

}

.building-section .container::after {
    content: 'venue';
    color: #009072;
    position: absolute;
    top: -40px;
    font-weight: 900;
}

.building-img {
    height: 408px;
    width: 460px;
    bottom: -10px;
    position: absolute;
}

.building-sect-1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}

.building-sect-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.building-sect-title-box {
    background-color: #FFFFFF;
    font-weight: 900;
    color: #000000;
    font-size: 25px;
    padding: 2px 16px;
}

.building-sect-2 {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
}

.building-card {
    padding-left: 20px;
    /* padding-top: 50px; */
    margin-top: 50px;
}

.building-sect-relative-1 {
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 15px;
    text-align: left;
    margin-top: 0;
    padding-left: 15px;
    position: relative;
}

.building-sect-relative-card-2 {
    margin: 9px 20px 0px 26px;
    position: relative;
}

.building-sect-relative-card-1 {
    position: relative;
    margin: 15px 20px 0px 26px;
}

.prices-p,
.prices-span,
.prices-span-l,
.prices-p-spacing-1,
.prices-p-spacing-2,
.prices-p-spacing-2-ab {
    font-size: 15px;
    color: #009072;
    font-weight: bolder;
}

.prices-span,
.prices-span-nospace,
.prices-span-nospace-1,
.prices-span-nospace-2 {
    color: #626262;
    padding-left: 20px;
    letter-spacing: 0px;
}

.prices-span-l {
    font-size: 32px;
    letter-spacing: 0px;
}

.prices-span-l-dot {
    letter-spacing: 0px;
    font-size: 20px;
    height: 33px;
    width: 33px;
    background-color: #009072;
    border-radius: 50%;
    /* display: inline-block; */
    padding: 6px 8px 6px 8px;
    color: white;
}

.prices-p-spacing-1 {
    letter-spacing: 11px;
}

.prices-p-spacing-2 {
    letter-spacing: 2px;
    margin-bottom: 0;
}

.prices-p-spacing-2-p-14 {
    font-size: 15px;
    color: #009072;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.prices-span-bordered-lg {
    border: 2px solid #86BA00;
    color: #86BA00;
}

.prices-card {
    position: relative;
}

.prices-span-nospace-1 {
    letter-spacing: 2px;
    padding-left: 0px;
}

.prices-span-nospace-2 {
    padding-left: 0px;
}

.prices-note-card {
    margin-top: 10px;
    margin-left: 95px;
    margin-bottom: 10px;
}

.prices-note {
    margin: 0px;
    font-size: 15px;
    font-weight: bolder;
    color: #86BA00;

}

.prices-span-note {
    font-size: 15px;
    color: #626262;
    padding-left: 20px;
    letter-spacing: 0px;

}

.siteFooterBar {
    margin-top: 200px;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    height: 78px;
}

.content img {
    height: 92px;
    width: 272px;
}

.green-footer {
    margin-top: 27px;
    height: 23px;
    width: 100%;
    background-color: #86BA00;
    position: absolute;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.service {
    overflow: hidden;
}